<template>
  <div>
    <div class="panelHeader">
      <div class="row">
        <div class="col-lg-10">
          <span class="panelHeaderText">To-Do List</span>
        </div>
        <div class="col-lg-2">
          <a style="float:right" v-on:click="showAddNew"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
    <div class="panelList">
      <div class="item itemtext" v-if="addVisible">
        <div class="row">
          <div class="col-lg-1">
            <input type="checkbox" />
        </div>
        <div class="col-lg-10">
          <input type="text"  v-on:keyup.enter="addNew" v-model="newItem">
        </div>
      </div>
      </div>
      <div class="item" v-for="(item) in getToDoList" :key="item.text">
        <div class="row" v-if="item.img != ''">
          <div class="col-lg-12">
            <img v-bind:src="item.img" style="width: 100%; height:150px" />
          </div>
        </div>
        <div class="row itemtext">
          <div class="col-lg-1">
            <input type="checkbox" v-model="item.done" />
          </div>
          <div class="col-lg-10">
            <p> {{ item.text }} </p>
          </div>
          <div class="col-lg-1 ">
            <span class="glyphicon glyphicon-option-vertical dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li v-on:click="setImage(item)"><a><span class="glyphicon glyphicon-picture"></span> Image</a></li>
              <li v-on:click="deleteItem(item)"><a><span class="glyphicon glyphicon-trash" ></span> Delete</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      addVisible: false,
      newItem: ""
    };
  },
  computed: mapGetters(["getToDoList"]),
  methods: {
    addNew() {
      this.$store.commit("addNewItem", { done: false, text: this.newItem });
      this.addVisible = false;
      this.newItem = "";
    },
    showAddNew() {
      this.addVisible = true;
    },
    deleteItem(item) {
      this.$store.commit("deleteItem", item);
    },
    setImage(item) {
      item.img = 'https://www.blogsaays.com/wp-content/uploads/2019/05/Todo-list-649x365.jpg'
      this.$store.commit("updateItem", item);
    }

  }
};
</script>

<style scoped>
  a{
    cursor: pointer;
  }
</style>

