<template>
  <div>
    <div class="panelHeader">
      <div class="row">
        <div class="col-lg-10">
          <span class="panelHeaderText">Done</span>
        </div>
        <div class="col-lg-2">
          <a style="float:right" v-on:click="deleteDone()"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
      </div>
    </div>
        <div class="panelList">
      <div class="item" v-for="(item) in getDoneList" :key="item.text" >
        <div class="row itemtext">
          <div class="col-lg-2">
            <input type="checkbox" v-model="item.done" />
        </div>
        <div class="col-lg-10">
          <p> {{ item.text }} </p>
        </div>
      </div>
      </div>
    </div>

  </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
      computed: mapGetters([
        'getDoneList'
      ]),
      methods: {
        deleteDone() {
          this.$store.commit("deleteDone");
        }
      }
    }
</script>

<style>


</style>

