<template>
  <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h4>Manage your to do list</h4>
              <p>Click on checkbox or drag and drop to done</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
              <app-to-do-list class="toDoPanel"></app-to-do-list>
            </div>
            <div class="col-lg-6">
              <app-to-do-list-done class="toDoPanel"></app-to-do-list-done>
            </div>
        </div>
    </div>
</template>

<script>
    import ToDoList from './todolist.vue';
    import ToDoListDone from './tododonelist.vue';

    export default {
        components: {
            appToDoList: ToDoList,
            appToDoListDone: ToDoListDone
        }
    }
</script>

<style>
  .toDoPanel {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
  }

  .panelHeader {
    width: 90%;
    margin: auto;
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
  }

  .panelHeaderText {
    font-size: 20px;
  }

  .panelList {
    width: 90%;
    /*height: 300px;*/
    margin: 20px auto;
  }

  .item{
    width: 100%;
    min-height: 40px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    /*padding: 10px*/
  }

  input[type="text"] {
    margin-top: -3px;
    width: 100%;
    border: 1px solid white;
  }

  input:focus {
    border: 1px solid white;
    outline: none;
  }

  .itemtext {
    padding: 10px;
  }

  img {
    border-radius: 10px;
  }
</style>
