<template>
<div>
  <app-header></app-header>
  <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <app-to-do></app-to-do>
            </div>
        </div>
    </div>
</div>

</template>

<script>
    import ToDo from './components/todo/todo.vue';
    import Header from './components/header.vue';

    export default {
        components: {
            appToDo: ToDo,
            appHeader: Header
        }
    }
</script>

<style>

</style>
